{% extends 'admin_pages/base.html' %}

{% load static  %}
{% block content %}

<div>
    {% for product in products %}
        <div>
            <div>
                <a href="{{ product.get_absolute_url }}">
                    <b>{{ product.pk }}. {{ product.name }}</b>
                </a>
            </div>

            <div>Категория товара: <span>{{ product.category }}</span></div>
            <div><i>{{ product.description }}</i></div>
            <div>
                {% if product.image %}
                    <img width="200" height="auto" src="{{ product.image.url }}">
                {% else %}
                    <img src="{% static 'img/no_image.png'%}" width="150px" height="auto">
                {% endif %}
            </div>
            <div>Цена: <span>{{ product.price }}</span></div>
            <div>
                {% if product.available %}
                    <span>Доступен к продаже</span>
                {% else %}
                    <span>Не доступен к продаже</span>
                {% endif %}
            </div>
            <div>Дата создания позиции: <span>{{ product.created_at }}</span></div>
        </div>
    {% endfor %}
</div>

{% endblock content %}